asgiref==3.8.1
distlib==0.3.6
Django==5.2.3
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
djangorestframework==3.16.0
filelock==3.9.0
platformdirs==3.1.1
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.21.0
